.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }

.figtree-font {
    font-family: "Figtree", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-weight: 800;
    font-style: normal;
}
*{
    margin: 0px;
}
html, body{
    font-family: Figtree;
    max-height: 1080px;
    height: 100%;
}
p{
    font-size: 14px;
}
body{
    background-color: hsl(47, 88%, 63%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
main{
    padding-top: 45px;
}
article{
    width: 51%;
    margin: auto;
    box-shadow: hsl(0, 0%, 7%);
    background-color: hsl(0, 0%, 100%);
    border: 1px solid hsl(0, 0%, 7%);
    border-radius: 20px;
    box-shadow: 10px 10px 1px black;
}
article section{
    padding: 20px;
}
h1{
    font-size: 24.5px;
    color: hsl(0, 0%, 7%);
    padding: 10px 0px;
    margin-top: -7px;
}
h1:hover{
    color: hsl(47, 88%, 63%);
    cursor: pointer;
}
#image{
    background-image: url(illustration-article.svg);
    height: 200px;
    border-radius: 10px;
}
#learning{
    width: fit-content;
    font-weight: bold;
    background-color: hsl(47, 88%, 63%);
    border-radius: 5px;
    margin-top: 25px;
}
#published{
    padding-top: 17px;
    padding-bottom: 15px;
}
#learning p{
    padding: 5px 13px;
}
#light{
    color: hsl(0, 0%, 50%);
    font-size: 16px;
    line-height: 24px;
    padding-top: 4px;
}
#avatar{
    display: flex;
    flex-direction: row;
    font-weight: bold;
    align-items: center;
    padding-top: 22px;
}
#avatar div{
    width: 10%;
}
img{
    width: 100%;
}
#avatar p{
    width: max-content;
    margin: 0px;
    margin-left: 10px;
}
footer{
    padding-top: 20px;
}

@media(max-width: 376px){
    article{
        width: 88%;
    }
    h1{
        font-size: 20px;
        margin: 0px;
        padding: 0px 0px;
    }
    #light{
        font-size: 13px;
    }
    #published{
        font-size: 11px;
    }
}
